@charset 'utf-8';


#clickMe  {
    background-color: #D8B36E;
    padding: 20px;
    text-align: center;
    width: 205px;
    display: block;
    border: 2px solid #000;
}

#picframe {
    background-color: #a8B333;
    padding: 20px;
    width: 205px;
    display: none;
    border: 2px solid #000;
}











